<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{catalogWizard}" />
    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.uploadCatalog}"/>

    <ui:define name="formContainer">

        <div class="well">
            <div class="form-group">
                <h:outputLabel for="upload" value="#{msg.uploadCatalogFile}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8" layout="block">
                    <h:inputFile id="upload" value="#{catalogWizard.file}"/>
                </h:panelGroup>
            </div>
        </div>

        <h:commandButton id="cancelBtn" action="#{catalogWizard.reset}" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{catalogWizard.verify}" style="display:none;"/>
    </ui:define>

</ui:composition>
