<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{changeNamespaceWizard}"/>

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.verification}"/>

    <ui:define name="formContainer">
        <div>
            <sa:definitions bean="#{changeNamespaceWizard}" readonly="true"/>
        </div>

        <h2>#{msg.permissions}</h2>

        <div class="well">
            <sa:nspermissions bean="#{changeNamespaceWizard}" readonly="true"/>
        </div>

        <sa:constraints bean="#{changeNamespaceWizard}" readonly="true"/>

        <div class="well col-xs-12">
            <div class="form-group">
                <h:outputLabel value="#{msg.hideNamespace}" for="hide-namespace" styleClass="col-xs-2 control-label" />

                <h:panelGroup layout="block" id="hide-namespace" styleClass="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{changeNamespaceWizard.hidden}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel value="#{msg.identifier}" for="identifier" styleClass="col-xs-2 control-label required" />

                <h:panelGroup styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}" id="definition" layout="block">
                    <h:inputText styleClass="form-control" readonly="true" disabled="true"
                        value="#{changeNamespaceWizard.identifier}" pt:placeholder="#{msg.definitionPlaceholder}"/>
                </h:panelGroup>
            </div>
        </div>

        <h:commandButton id="cancelBtn" action="#{changeNamespaceWizard.reset}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{changeNamespaceWizard.previousStep(view.viewId)}" style="display:none;"/>
        <h:commandButton id="finishBtn" action="#{changeNamespaceWizard.finish}" style="display:none;"/>
    </ui:define>

</ui:composition>
