<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/wizard.xhtml">

    <ui:param name="bean" value="#{changeNamespaceWizard}"/>

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.permissions}"/>

    <ui:define name="formContainer">

        <div class="well col-xs-12">

            <sa:nspermissions bean="#{changeNamespaceWizard}" readonly="false"/>

        </div>

        <h2>#{msg.addNewPermission}</h2>

        <div class="col-xs-12 well">
            <div class="form-group">
                <div class="col-xs-6 select2Email">
                    <h:inputHidden value="#{changeNamespaceWizard.identity}" pt:style="width: 100%;" pt:class="form-control" />
                </div>

                <h:panelGroup styleClass="col-xs-4" id="definition" layout="block">
                    <h:selectOneMenu styleClass="form-control select2" value="#{changeNamespaceWizard.permission}" disabled="#{cc.attrs.readonly}">
                        <f:selectItems var="l" value="#{mdr.permissions}" itemValue="#{l}" itemLabel="#{msg[l]}"/>
                    </h:selectOneMenu>
                </h:panelGroup>

                <div class="col-xs-2">
                    <h:commandButton styleClass="btn btn-default" value="#{msg.add}" action="#{changeNamespaceWizard.add}">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                </div>
            </div>
        </div>

        <h:commandButton id="cancelBtn" action="#{changeNamespaceWizard.reset}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{changeNamespaceWizard.previousStep(view.viewId)}" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{changeNamespaceWizard.validatePermissions}" style="display:none;"/>

        <h:outputScript>
            var globalQuery;

            $(".select2Email").find("input").select2({
                minimumInputLength: 3,
                query: function (query) {
                    $("#searchText").val(query.term);
                    $("#suggestionsButton").click();

                    globalQuery = query;
                }
            });
        </h:outputScript>
    </ui:define>

    <ui:define name="misc">
        <h:form prependId="false">
            <script>
                if(globalQuery != undefined) {
                    var data = {results: []};
                    if($("#suggestionsHidden").val().length &gt; 0) {
                        var emails = $("#suggestionsHidden").val().split(";|;");
                        var i;
                        var regex = /\[(.*)\]/;
                        for(i = 0; i &lt; emails.length; ++i) {
                            var array = regex.exec(emails[i]);

                            if(array.length == 2) {
                                var text = emails[i].replace(/\[.*\]/, "");
                                data.results.push({id: array[1], text: text});
                            }
                        }
                    }
                    globalQuery.callback(data);
                }
            </script>

            <h:inputHidden value="#{changeNamespaceWizard.searchText}" id="searchText" />
            <h:inputHidden value="#{changeNamespaceWizard.suggestions}" id="suggestionsHidden" />
            <h:commandButton action="#{changeNamespaceWizard.searchEmail}" value="NONE" style="display: none;" id="suggestionsButton">
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>
        </h:form>

    </ui:define>

</ui:composition>
