<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/definitions.xhtml">

    <ui:param name="bean" value="#{dataElementWizard}" />

    <ui:define name="preDefinitions">
        <h:panelGroup rendered="#{dataElementWizard.externalElement != null}" layout="block" styleClass="well col-xs-12">
            <h:outputText value="#{msg.importExternalText}" escape="false"/>
        </h:panelGroup>

        <div class="clearfix"></div>

    </ui:define>

</ui:composition>
