<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="/components/default.xhtml">


    <f:metadata>
        <f:viewParam name="urn" value="#{updateBean.urn}"/>
    </f:metadata>

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <h:form prependId="false">
            <h:commandButton value="NONE" id="initializeButton" style="display: none;" action="#{updateBean.initialize()}">
                <f:ajax render="updateStats"/>
            </h:commandButton>
            <h:commandButton id="updateButton" action="#{updateBean.update}" value="#{msg.executeUpdate}" style="display: none;" />
        </h:form>

        <sa:pleaseWaitModal />

        <h:panelGroup id="updateStats" styleClass="fadein" layout="block" style="display: none;">

            <h:outputScript>
                $(function() {
                    var dialog = $("#pleaseWaitDialog");
                    if(dialog.hasClass("in")) {
                        dialog.modal("hide");
                        $("#updateStats").show();
                    } else {
                        dialog.modal("show");
                        $("#initializeButton").click();
                    }
                });
            </h:outputScript>

            <div class="clearfix">
                <h1 class="col-xs-12">
                    #{msg.update} #{updateBean.element.designation} (#{updateBean.element.urn})
                </h1>
            </div>

            <ui:fragment rendered="#{! updateBean.keys.isEmpty()}">

                <table class="table table-striped table-hover col-xs-12">
                    <thead>
                        <tr>
                            <th scope="col">#{msg.oldElements}</th>
                            <th scope="col">#{msg.newElements}</th>
                        </tr>
                    </thead>

                    <tbody>

                        <ui:repeat var="e" value="#{updateBean.keys}">
                        <tr class="#{updateBean.status(e)} tableVCenter">
                            <td>
                                 #{e.definition} <br/>
                                 #{e.urn}
                            </td>

                            <td>
                                <ui:fragment rendered="#{! updateBean.isDeleted(e)}">
                                    #{updateBean.replacements.get(e).definition} <br/>
                                    #{updateBean.replacements.get(e).urn}
                                </ui:fragment>

                                <ui:fragment rendered="#{updateBean.isDeleted(e)}">
                                    Deleted
                                </ui:fragment>
                            </td>
                        </tr>
                        </ui:repeat>
                    </tbody>
                </table>

                <p>#{msg.notUpdatedIgnored}</p>

                <div class="col-xs-12">
                    <button class="btn btn-primary pull-right" onclick="$('#updateButton').click();">#{msg.executeUpdate}</button>
                </div>

            </ui:fragment>

            <ui:fragment rendered="#{updateBean.keys.isEmpty()}">
                <h3>#{msg.noUpdate}</h3>
            </ui:fragment>

        </h:panelGroup>

    </ui:define>

</ui:composition>
