<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="bean"/>
    <composite:attribute name="readonly" default="false"/>
</composite:interface>

<composite:implementation>
    <ui:fragment rendered="#{! cc.attrs.readonly}">
        <div class="form-group">
            <h4 class="col-xs-4 control-label-center"><h:outputText value="#{msg.slotName}"/></h4>
            <h4 class="col-xs-4 control-label-center"><h:outputText value="#{msg.slotValue}"/></h4>
        </div>

        <ui:repeat var="s" value="#{cc.attrs.bean.slots}">
            <div class="form-group">
                <h:panelGroup styleClass="col-xs-4 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
                    <h:outputText rendered="#{cc.attrs.readonly == 'true'}" value="#{s.name}"></h:outputText>
                    <h:inputText rendered="#{cc.attrs.readonly != 'true'}" styleClass="form-control" value="#{s.name}"
                        pt:placeholder="#{msg.slotNamePlaceholder}"></h:inputText>
                </h:panelGroup>

                <h:panelGroup styleClass="col-xs-4 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
                    <h:outputText rendered="#{cc.attrs.readonly == 'true'}" value="#{s.value}"></h:outputText>
                    <h:inputText rendered="#{cc.attrs.readonly != 'true'}" styleClass="form-control" value="#{s.value}"
                        pt:placeholder="#{msg.slotValuePlaceholder}"></h:inputText>
                </h:panelGroup>

                <h:commandButton rendered="#{cc.attrs.readonly != 'true'}" styleClass="btn btn-default col-xs-2" value="#{msg.remove}"
                        action="#{cc.attrs.bean.remove(s)}">
                    <f:ajax render="@form" execute="@form"></f:ajax>
                </h:commandButton>
            </div>
        </ui:repeat>

        <h:commandButton id="addBtn" styleClass="btn btn-default" action="#{cc.attrs.bean.addSlot}" value="#{msg.addSlot}">
            <f:ajax render="@form" execute="@form"/>
        </h:commandButton>
    </ui:fragment>

    <ui:fragment rendered="#{cc.attrs.readonly}">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-xs-5">#{msg.slotName}</th>
                    <th scope="col" class="col-xs-7">#{msg.slotValue}</th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="s" value="#{cc.attrs.bean.slots}">
                    <tr class="tableVCenter">
                        <td>
                            #{s.name}
                        </td>
                        <td>
                            #{s.value}
                        </td>
                    </tr>
                </ui:repeat>
            </tbody>
        </table>
    </ui:fragment>
</composite:implementation>

</html>