<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="wizard.xhtml">

    <ui:param name="bodyClass" value="container" />
    <ui:param name="formContainerClass" value="col-xs-12" />
    <ui:param name="title" value="#{msg.slots}"/>

    <ui:define name="formContainer">
        <div class="well">
            <sa:slots bean="#{bean}" readonly="false"/>
        </div>

        <h:commandButton id="cancelBtn" action="#{bean.reset}" style="display:none;"/>
        <h:commandButton id="verifyBtn" action="#{bean.validateSlots}" style="display:none;"/>
        <h:commandButton id="previousBtn" action="#{bean.previousStep(view.viewId)}" style="display: none;" />
    </ui:define>

</ui:composition>
