<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="components/default.xhtml">

    <f:metadata>
        <f:viewParam name="publicId" value="#{cadsrBean.publicId}" />
        <f:viewAction action="#{cadsrBean.initialize}"/>
    </f:metadata>

    <ui:param name="bodyClass" value="container" />

    <ui:define name="title">#{cadsrBean.element.designation}</ui:define>

    <ui:define name="body">

        <div class="fadein">

            <sa:cadsr element="#{cadsrBean.element}"/>

        </div>

    </ui:define>

</ui:composition>
