<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="components/default.xhtml">

<!-- This page is used in data elements with a catalog value domain. Since the state of the codes
    depend on the data elements value domain, this view requires an additional parameter: "node" -->

    <f:metadata>
        <f:viewParam name="urn" value="#{detailViewBean.urn}" />
        <f:viewParam name="node" value="#{detailViewBean.node}" />
        <f:viewParam name="draggable" value="#{detailViewBean.draggable}" />
        <f:viewAction action="#{detailViewBean.initialize}"/>
    </f:metadata>


    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div id="detailView">

            <sa:elements list="#{detailViewBean.codes}" collapsible="true" starrable="false" detailLink="false"
                checkable="true" draggable="false" readonly="true" removable="false" sortable="false" valueDomain="#{detailViewBean.element.valueDomain}"
                detailPage="/codeList.xhtml?urn=#{detailViewBean.urn}"/>

        </div>

    </ui:define>

</ui:composition>
